<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>今日口子</title>
		<meta name="keywords" content="今日口子" />
        <meta name="description" content="今日口子" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="format-detection" content="address=no" />
        <!--for baidu 识别移动端页面并禁止百度转码-->
        <meta name="applicable-device"content="mobile"> 
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../web/resource/css/mui.min.css" rel="stylesheet" />
		<link href="../../web/resource/css/iconfont.css" rel="stylesheet" />
		<link href="../../web/resource/css/custom.css" rel="stylesheet" />
		<link href="../../web/resource/css/page.css" rel="stylesheet" />
	</head>

	<body>
		<div class="mui-content">
			<header class="mui-bar top-bar">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">资讯</h1>
			</header>
			
			<footer class="mui-bar mui-bar-tab">
				<a class="mui-tab-item" href="index.html"><i class="icon iconfont icon-shouye"></i>首页</a>
				<a class="mui-tab-item" href="finance-market.html"><i class="icon iconfont icon-chaoshi"></i>金融超市</a>
				<a class="mui-tab-item" href="login.html"><i class="icon iconfont icon-yonghu"></i>我的</a>
			</footer>
			
			<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper panel1-box">
				<div class="mui-scroll">
					<h1 class="detail-title">龙超理金：特金会又现转机 金价多头再度承压</h1>
					<div class="detail-infor">                            
						<span>访问次数：49</span>
						<span>发布时间：2018-05-02 14:50</span>
					</div>
					
					<div class="detail-text">
						<p> 现货黄金在低位盘整了6个工作日后，终于在上周四进行了突破，最高冲击1306美元后开始出现回落。周五时段并未延续多头的走势，而是继续走出了回落行情。有报道称美国总统特朗普周五早晨在白宫表示，“特金会”仍有可能如计划的那样在6月12日举行。特朗普朝令夕改的表态给市场带来希望，美元受到提振，金价多头再度承压。</p>
						<p>今日周初开盘后，现货黄金价格持续走低，并失守1300美元关口。可以说本周的消息面也是颇为丰富，其中美国5月非农就业报告、美联储经济褐皮书均将登场亮相，笔者龙超预计除地缘局势外，经济数据表现也将对黄金走势构成重要影响，虽然就业数据对美联储货币政策走向影响有所下降，但薪资表现仍将是观察美联储后市走向的关键线索。</p>
						<p>尽管本周的非农就业报告不会影响美联储6月加息，但令人失望的薪资数据将影响9月和12月的预期。如果市场对今年四次加息的预期被削弱，金价可能会受益。不过，仍需提防的是，由于市场预计美联储将于6月加息，金价在短期内上涨空间有限。</p>
						<p><img src="../../web/resource/images/pic2.png"</p>
						<p>回归到技术面来看，其实金价的这波从1282-1307的价格反弹修正，和前面1302-1326的价格反弹修正的节奏和走法完全一致，笔者龙超也在前文中曾多次提醒大家关注历史重演，关注形态循环，关注时间节点和周期变化。所以最近行情的整体思路和节奏笔者龙超把握的可谓是游刃有余，相信有关注笔者公众号龙超理金的朋友都收获颇丰吧。</p>
					</div>
				</div>
			</div>

		</div>
		

		<script src="../../web/resource/js/mui.min.js"></script>
		<script src="../../web/resource/js/common.js"></script>
		<script>
			////初始化
			mui.init();
			
		</script>
		
	</body>

</html>