<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>今日口子</title>
		<meta name="keywords" content="今日口子" />
        <meta name="description" content="今日口子" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="format-detection" content="address=no" />
        <!--for baidu 识别移动端页面并禁止百度转码-->
        <meta name="applicable-device"content="mobile"> 
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../web/resource/css/mui.min.css" rel="stylesheet" />
		<link href="../../web/resource/css/iconfont.css" rel="stylesheet" />
		<link href="../../web/resource/css/custom.css" rel="stylesheet" />
		<link href="../../web/resource/css/login.css" rel="stylesheet" />
	</head>

	<body>
		<div class="mui-content">
			<header class="mui-bar top-bar">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">佣金产品</h1>
			</header>
			
			<footer class="mui-bar mui-bar-tab">
				<a class="mui-tab-item" href="index.html"><i class="icon iconfont icon-shouye"></i>首页</a>
				<a class="mui-tab-item" href="finance-market.html"><i class="icon iconfont icon-chaoshi"></i>金融超市</a>
				<a class="mui-tab-item" href="person.html"><i class="icon iconfont icon-yonghu"></i>我的</a>
			</footer>
			
			<div id="pullrefresh" class="mui-content mui-scroll-wrapper panel1-box">
				<div class="mui-scroll">
					
					<div class="column-list mui-row">
						<div class="mui-col-xs-4 mui-col-sm-4">
							<a class="mui-tab-item" href="product.html"><i class="icon iconfont icon-weibiaoti35"></i>佣金产品</a>
						</div>
						<div class="mui-col-xs-4 mui-col-sm-4">
							<a class="mui-tab-item" href="client-list.html"><i class="icon iconfont icon-iconkh2"></i>客户列表</a>
						</div>
						<div class="mui-col-xs-4 mui-col-sm-4">
							<a class="mui-tab-item" href="my-salary.html"><i class="icon iconfont icon-icon_gongzi"></i>我的工资</a>
						</div>
					</div>
					
					<div id="slider" class="mui-slider" >
						<div class="mui-slider-group mui-slider-loop">
							<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
							<div class="mui-slider-item mui-slider-item-duplicate">
								<a href="#"><img src="../../web/resource/images/pic2.png"></a>
							</div>
							<!-- 第一张 -->
							<div class="mui-slider-item">
								<a href="#"><img src="../../web/resource/images/pic1.png"></a>
							</div>
							<!-- 第二张 -->
							<div class="mui-slider-item">
								<a href="#"><img src="../../web/resource/images/pic2.png"></a>
							</div>
							<!-- 第三张 -->
							<div class="mui-slider-item">
								<a href="#"><img src="../../web/resource/images/pic1.png"></a>
							</div>
							<!-- 第四张 -->
							<div class="mui-slider-item">
								<a href="#"><img src="../../web/resource/images/pic2.png"></a>
							</div>
							<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
							<div class="mui-slider-item mui-slider-item-duplicate">
								<a href="#"><img src="../../web/resource/images/pic1.png"></a>
							</div>
						</div>
						<div class="mui-slider-indicator">
							<div class="mui-indicator mui-active"></div>
							<div class="mui-indicator"></div>
							<div class="mui-indicator"></div>
							<div class="mui-indicator"></div>
						</div>
					</div>
					
					<div class="recommend-title">
						<img src="../../web/resource/images/tuijian.png" />
						新品推荐
					</div>
					
					<div class="recommend-box">
						<div class="mui-row">
							<div class="mui-col-xs-6 mui-col-sm-6">
								<a href="">
									<div class="pic"><img src="../../web/resource/images/dkkk.jpg" alt="" /></div>
									<div class="text"><h3>楼易贷</h3><span>手机号贷</span></div>
								</a>
							</div>
							<div class="mui-col-xs-6 mui-col-sm-6">
								<a href="">
									<div class="pic"><img src="../../web/resource/images/loans-pic1.png" alt="" /></div>
									<div class="text"><h3>楼易贷</h3><span>手机号贷</span></div>
								</a>
							</div>
							<div class="mui-col-xs-6 mui-col-sm-6">
								<a href="">
									<div class="pic"><img src="../../web/resource/images/loans-pic1.png" alt="" /></div>
									<div class="text"><h3>楼易贷</h3><span>手机号贷</span></div>
								</a>
							</div>
							<div class="mui-col-xs-6 mui-col-sm-6">
								<a href="">
									<div class="pic"><img src="../../web/resource/images/dkkk.jpg" alt="" /></div>
									<div class="text"><h3>楼易贷</h3><span>手机号贷</span></div>
								</a>
							</div>
							<div class="mui-col-xs-6 mui-col-sm-6">
								<a href="">
									<div class="pic"><img src="../../web/resource/images/dkkk.jpg" alt="" /></div>
									<div class="text"><h3>楼易贷</h3><span>手机号贷</span></div>
								</a>
							</div>
							<div class="mui-col-xs-6 mui-col-sm-6">
								<a href="">
									<div class="pic"><img src="../../web/resource/images/loans-pic1.png" alt="" /></div>
									<div class="text"><h3>楼易贷</h3><span>手机号贷</span></div>
								</a>
							</div>
							<div class="mui-col-xs-6 mui-col-sm-6">
								<a href="">
									<div class="pic"><img src="../../web/resource/images/loans-pic1.png" alt="" /></div>
									<div class="text"><h3>楼易贷</h3><span>手机号贷</span></div>
								</a>
							</div>
							<div class="mui-col-xs-6 mui-col-sm-6">
								<a href="">
									<div class="pic"><img src="../../web/resource/images/dkkk.jpg" alt="" /></div>
									<div class="text"><h3>楼易贷</h3><span>手机号贷</span></div>
								</a>
							</div>
						</div>
						
					</div>
					
				</div>
			</div>

		</div>
		

		<script src="../../web/resource/js/mui.min.js"></script>
		<script src="../../web/resource/js/common.js"></script>
		<script>
			////初始化
			mui.init();
			
			mui('#pullrefresh').scroll();
	
		</script>
		
	</body>

</html>