.login-banner{
	background: #387ef5;
}
.login-banner p{
	padding: 1.4rem;
	color: #fff;
	text-align: center;
	font-size: 0.8rem;
	font-weight: bold;
}

.plat-form{
	padding: 0.5rem 0.96rem;
}

.plat-row{
	position: relative;
}
.plat-row input[type=text]{
	height: 0.9rem;
	font-size: 0.28rem;
	padding: 0 0.45rem 0 1.15rem;
	color: #666;
	font-family: "微软雅黑";
}
.plat-row input::-webkit-input-placeholder{
    color:#999;
}
.plat-row label{
	position: absolute;
	left: 0.24rem;
	top: 50%;
	margin-top: -18px;
	color: #666;
	font-size: 0.3rem;
}
.plat-margin-top input[type=button]{
	width: 100%;
	height: 0.9rem;
    background: #3A94DB;
    color: #fff;
    border: none;
    font-size: 0.32rem;
    font-family: "微软雅黑";
}




.set-user{
	position: relative;
	padding: 0.6rem 0.5rem;
	background: url(../images/bound_bg.png) no-repeat;
	background-size: cover;
	overflow: hidden;
}
.set-user .pic{
	position: relative;
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 50%;
	border: 0.06rem solid #fff;
	overflow: hidden;
	z-index: 2;
	float: left;
}
.set-user .pic img{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -1.2rem;
	margin-top: -1.2rem;
	width: 2.4rem;
	height: auto;
}
.user{
	display: block;
	float: left;
	padding: 0.4rem 0 0 0.4rem;
	color: #fff;
	font-size: 0.3rem;
}
.user h3{ 
	line-height: 0.6rem;
}
.user a{
	color: #fff;
}

.person-lis{
	padding: 0.2rem 0.3rem;
}
.person-lis li{
	padding: 0.26rem;
	border-bottom: 1px solid #ddd;
}
.person-lis li a{
	font-size: 0.3rem;
}

.set-user .upload{
	position: absolute;
    top: 0.59rem;
    left: 0.5rem;
    width: 2.2rem;
    height: 2.2rem;
    z-index: 3;
    opacity: 0;
}
.set-user .name{
	position: absolute;
	bottom: 0.18rem;
	background: none;
	border: none;
	text-align: center;
	color: #fff;
	font-size: 0.34rem;
}
.set-user input::-webkit-input-placeholder{
    color:#fff;
}




.setting-box{
	padding: 0.2rem 0.3rem;
}
.setting-box .mui-input-row{
	padding: 0.16rem 0;
	border-bottom: 1px solid #ddd;
}
.set-header{
	position: relative;
	width: 100%;
	overflow: hidden;
}
.set-header .pic{
	position: relative;
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 50%;
	border: 0.06rem solid #fff;
	overflow: hidden;
	z-index: 2;
	float: left;
}
.set-header .pic img{
	position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.8rem;
    margin-top: -0.8rem;
    width: 1.6rem;
    height: auto;
}
.set-header .upload{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1.72rem;
	z-index: 3;
	opacity: 0;
}
.set-header span{
	display: inline-block;
	height: 1.72rem;
	line-height: 1.72rem;
	padding-left: 0.6rem;
}

.setting-box .mui-input-row label{
	width: 20%;
    font-size: 0.3rem;
    padding: 0 0.2rem;
    height: 0.6rem;
    line-height: 0.6rem;
    display: block;
}
.setting-box .mui-input-row label.signature{
	width:28%;
}
.setting-box .mui-input-row label~input{
	width: 80%;
	height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.28rem;
    padding: 0.1rem 0;
}
.setting-box .mui-input-row label~textarea{
	width: 72%;
	font-size: 0.28rem;
	padding: 0.1rem 0.06rem;
	height: auto;
}

.setting-box .mui-input-row .btnPicker{
	width: 100%;
	height: 0.92rem;
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	opacity: 0;
}

.ui-alert{
	float: right;
	width: 80%;
	height: 0.6rem;
    font-size: 0.28rem;
    padding: 0.1rem 0;
}

.mui-bar .save-btn{
	float: right;
	top: 0.2rem;
    margin-top: 0;
    padding: 0.1rem 0.2rem 0.12rem;
    font-size: 0.28rem;
}

.mui-table-view-cell:after{
	display: none;
}

.salary-box {
	padding-top: 0.2rem;
	margin-top: 0.1rem;
}
.salary-box .mui-col-sm-4{
	text-align: center;
	font-size: 0.28rem;
}
.salary-box .mui-col-sm-4 span.line{
	display: block;
    width: 1.4rem;
    height: 1px;
    background: #eee;
    margin: 0.16rem auto;
}
.salary-box .mui-col-sm-4 i{
	color: #3e9bfb;
}
.salary-box .mui-col-sm-4 i.total{
	color: #feb348;
}

.salary-box1{
	position: relative;
    padding: 0.3rem 0;
    background: url(../images/bound_bg.png) no-repeat;
    background-size: cover;
    overflow: hidden;
    color: #fff;
}
.salary-box1 p{
	height: 0.8rem;
	line-height: 0.8rem;
	color: #fff;
	text-align: right;
	padding-right: 1rem;
	font-size: 0.3rem;
}
.salary-box1 strong{
	display: block;
	width: 100%;
	height: 0.7rem;
	line-height: 0.6rem;
	text-align: right;
	font-size: 0.4rem;
	font-weight: normal;
}
.salary-box1 .line{
	display: block;
	border-bottom: 1px dashed #fff;
	margin: 0.3rem 0;
}
.withdraw-btn{
	display: block;
	width: 2rem;
	height: 0.8rem;
	line-height: 0.8rem;
	background: #fff;
	color: #186ed1;
	text-align: center;
	border-radius: 50px;
	margin: 1.4rem 0 0 0.6rem;
	font-size: 0.32rem;
}

.mui-segmented-control .mui-control-item{
	line-height: 0.8rem;
	font-size: 0.3rem;
}

.mui-table-view{
	padding: 0.2rem 0.3rem;
}
.mui-table-view-cell{
	padding: 0.14rem 0;
}
.mui-table-view-cell span{
	font-size: 0.28rem;
}
.mui-table-view-cell span.fl{
	float: left;
}
.mui-table-view-cell span.fr{
	float: right;
	color: #999;
}

.recommend-title {
    padding: 0.2rem 0.2rem 0.16rem;
    border-bottom: 1px solid #ddd;
    line-height: 0.58rem;
    color: #007AFF;
}
.recommend-title img {
    width: 0.5rem;
    margin-right: 0.1rem;
    float: left;
}

.recommend-box {
    padding: 0.3rem 0.3rem;
}
.recommend-box a{
	display: flex;
}
.recommend-box .pic img{
	width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.15rem;
    margin-bottom: 0.3rem;
    margin-left: 0.2rem;
}
.recommend-box .text h3{
	font-size: 0.28rem;
	font-weight: normal;
	height: 0.3rem;
	line-height: 0.3rem;
	margin-top: 0.34rem;
}
.recommend-box .text span{
	font-size: 0.23rem;
    color: #999;
}
