.mui-bar .mui-icon{
	font-size: 0.6rem;
	padding-top: 0.26rem;
}

.detail-title{
	font-size: 0.32rem;
	line-height: 0.46rem;
	text-align: center;
	padding: 0.38rem 0.24rem 0.24rem;
}
.detail-infor{
	margin: 0 0.24rem;
	border-top: 1px solid #ddd;
	padding: 0.15rem 0;
	line-height: 0.36rem;
	text-align: center;
}
.detail-infor span{
	font-size: 0.2rem;
	color: #666;
	padding: 0 0.06rem;
}
.detail-text{
	padding: 0 0.24rem;
	text-align: justify;
	font-size: 0.24rem;
	color: #444;
	line-height: 0.48rem;
}
.detail-text p{
	color: #444;
	padding: 0.1rem 0;
}
.detail-text p img{
	padding: 0.2rem 0;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}


.panel1-box .title{
	height: 0.84rem;
	line-height: 0.84rem;
	border-bottom: 1px solid #ddd;
	padding: 0 0.34rem;
	font-size: 0.32rem;
	color: #387ef5;
}
.panel1-box .title i{
	color: #387ef5;
	font-size: 0.34rem;
}
.panel1-box .title i.icon-xinyongka{
	font-size: 0.3rem;
}

.banks-list{
	padding: 0.3rem 0.1rem;
}
.banks-list li{
	padding-bottom: 0.3rem;
	text-align: center;
	font-size: 0.28rem;
}
.banks-list li a{
	display: block;
}
.banks-list li span{
	position: relative;
	display: block;
	width: 1.3rem;
	height: 1.3rem;
	border: 1px solid #ddd;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 0.1rem;
	overflow: hidden;
}
.banks-list li span img{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -0.5rem;
	margin-top: -0.5rem;
	display: block;
	width: 1rem;
	height: 1rem;
}


.card-list .card-item {
    overflow: hidden;
    padding: 0.2rem;
    position: relative;
}
.card-list .card-item a {
    display: block;
    overflow: hidden;
}
.card-list .card-item .pic {
    float: left;
    margin-right: 0.2rem;
    width: 2.2rem;
    overflow: hidden;
}
.card-list .card-item .tit {
    font-size: 0.28rem;
    line-height: 0.6rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    font-weight: normal;
    overflow: hidden;
    margin-bottom: 0.2rem;
}
.card-list .card-item .txt {
    font-size: 0.24rem;
    color: #999;
    line-height: 0.6rem;
    overflow: hidden;
}
.card-list .card-item .txt span {
    color: #387ef5;
    font-size: 0.32rem;
    padding-right: 0.1rem;
}
.card-list .card-item .apply-btn {
    position: absolute;
    height: 0.56rem;
    line-height: 0.56rem;
    text-align: center;
    width: 1rem;
    background: #387ef5;
    color: #fff;
    font-size: 0.28rem;
    border-bottom: 0.053rem #105de0 solid;
    border-radius: 0.133rem;
    right: 0.2rem;
    bottom: 0.28rem;
    z-index: 999;
}

/*文字信息滚动*/
.noticeBox{
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    overflow:hidden;
    height:0.8rem;
    padding: 0 0.3rem;
}
.noticeBox h2{
	height: 0.8rem;
	line-height:0.78rem;
    float:left;
    margin-right:0.1rem;
    color:#387ef5;
    font-size: 0.3rem;
}
.noticeBox h2 i{
    font-size: 0.28rem;
    margin-right:0.08rem;
}
.txtScroll-top{
    overflow: hidden;
    position: relative;
}
.txtScroll-top li{
    height:0.8rem;
    line-height:0.78rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.txtScroll-top li a{
    color: #666;
    font-size: 0.28rem;
}

.nav-list, .nav-list1{
	padding: 0.2rem;
	border-bottom: 1px solid #ddd;
}
.nav-list li a, .nav-list1 li a{
	display: block;
	padding: 0.15rem 0;
    text-align: center;
    font-size: 0.26rem;
}
.nav-list li img{
	display: block;
	width: 0.8rem;
	margin: 0 auto 0.1rem;
}

.nav-list1 li a{
	display: flex;
	padding: 5px;
}

.nav-list1 li .pic, .recommend-box .pic{
	flex: 1;
	text-align: right;
}
.nav-list1 li img{
	width: 1.3rem;
	margin-right: 0.1rem;
}
.nav-list1 li .text, .recommend-box .text{
	flex: 1;
	text-align: left;
}
.nav-list1 li .text h3{
	font-size: 0.28rem;
	font-weight: normal;
	height: 0.3rem;
	line-height: 0.3rem;
	margin-top: 0.24rem;
}
.nav-list1 li .text span, .recommend-box .text span{
	font-size: 0.23rem;
	color: #999;
}

.recommend-title{
	padding: 0.2rem 0.2rem 0.16rem;
	border-bottom: 1px solid #ddd;
}
.recommend-title .mui-col-xs-7{
	line-height: 0.58rem;
	color: #007AFF;
}
.recommend-title .mui-col-xs-7 img{
	width: 0.5rem;
	margin-right: 0.1rem;
	float: left;
}
.recommend-title .mui-col-xs-5{
	text-align: right;
	font-size: 0.26rem;
	line-height: 0.5rem;
}
.recommend-title .mui-col-xs-5 img{
	width: 0.5rem;
	float: right;
}

.recommend-box{
	padding: 0.2rem;
}
.recommend-box .mui-row{
	margin-bottom: 0.2rem;
}
.recommend-box a{
	display: flex;
}
.recommend-box .pic img{
	width: 1.4rem;
	margin-right: 0.1rem;
}
.recommend-box .text h3{
	font-size: 0.28rem;
	font-weight: normal;
	height: 0.3rem;
	line-height: 0.3rem;
	margin-top: 0.34rem;
}
.recommend-box .mui-col-xs-4 p{
	line-height: 1.3rem;
	font-size: 0.26rem;
}
.recommend-box .mui-col-xs-4 p strong{
	color: #387ef5;
}
.recommend-box .mui-col-xs-3{
	text-align: center;
}

.loans-infor{
	text-align: center;
	font-size: 0.26rem;
}
.loans-infor span{
	display: block;
	height: 0.32rem;
	line-height: 0.3rem;
	text-align: center;
	color: #387ef5;
}


.loans-list{
	padding: 0 0.2rem;
}
.loans-list li{
	padding: 0.36rem 0.16rem;
	border-bottom: 1px solid #ddd;
}
.loans-list li a{
	display: block;
	overflow: hidden;
}
.loans-list li .pic{
	float: left;
}
.loans-list li img{
	width: 1.3rem;
	margin-right: 0.2rem;
}
.loans-list li .text{
	text-align: left;
}
.loans-list li .text h3{
	font-size: 0.28rem;
	font-weight: normal;
	height: 0.3rem;
	line-height: 0.3rem;
	margin: 0.2rem 0 0.1rem;
}
.loans-list li .text span{
	font-size: 0.23rem;
	color: #999;
	display: block;
	line-height: 0.36rem;
}
.loans-list li .text span.sort{
	color: #9370DB;
}
.loans-list li p{
	line-height: 0.4rem;
	padding-top: 0.2rem;
}
.loans-list li p strong{
	color: #387ef5;
	padding-right: 0.04rem;
}
